@import 'swiper/swiper.min.css';
@import 'swiper/modules/navigation/navigation.min.css';
@import 'swiper/modules/pagination/pagination.min.css';

.re-carousel {
    @apply relative h-[70vh] my-4;
}

.re-carousel__swiper {
    @apply h-full;
}
.re-carousel__swiper.selected {
    @apply ring ring-offset-2;
}
.re-carousel__swiper_slide-item {
    @apply h-full flex justify-center items-center;
}
.re-carousel__swiper_slide-item img {
    @apply max-h-full;
}
