.re-accordion {}

.re-accordion .re-accordion__title-container {
    @apply flex items-center bg-secondary/20 border border-neutral py-1 px-2 rounded;
}
.re-accordion.opened > div > .re-accordion__title-container {
    @apply rounded-b-none;
}

.re-accordion__title-container__title {
    @apply flex-grow;
}

.re-accordion .re-accordion__title-container button {
    @apply border-none outline-none bg-transparent mr-2 p-2 hover:bg-hover transition-transform;
    @apply w-12 h-12 rounded-full flex-shrink-0;
}
.re-accordion.opened > div > .re-accordion__title-container button {
    @apply transform rotate-90 transition-transform;
}

.re-accordion .re-accordion__content {
    @apply border border-neutral border-t-0 rounded-b hidden;
}
.re-accordion.opened > .re-accordion__content {
    @apply p-2 block;
}
