.re-inline-menu {
    @apply absolute border border-dark rounded bg-main max-w-sm overflow-y-auto max-h-72 z-10;
}

.re-inline-menu__item button {
    @apply w-full flex gap-2 items-center px-4 py-2 hover:bg-hover outline-none border-none bg-transparent;
}

.re-inline-menu__item .re-inline-menu__item__content {
    @apply flex-1 text-left;
}

.re-inline-menu__item.active {
    @apply bg-hover;
}
