.re-table {
    @apply w-full relative mb-3 mr-3 py-3;
}
.re-table table,
.re-table tbody,
.re-table tr {
    @apply w-full;
}

.re-table__row {
    @apply relative;
}

.re-table__cell {
    @apply border border-divider relative;
}

.re-table__cell__content {
    @apply p-1 block w-full h-full whitespace-pre-wrap ring-primary;
}
.re-table__cell__content.selected {
    @apply ring-1;
}
.re-table__cell__content.selected-for-remove {
    @apply ring-error;
}
.re-table__cell__content.full-selection {
    @apply bg-primary-100/30;
}
.re-table__cell__content.selected-for-remove.full-selection {
    @apply bg-error-100/30;
}

.re-table__cell__add-row-button {
    @apply w-5 h-5 leading-0 flex justify-center items-center
    bg-transparent hover:bg-primary-300
    rounded-full hover:rounded
    absolute right-full transform -translate-y-1/2 -translate-x-full;
}
.re-table__cell__add-row-button.last {
    @apply bottom-0 translate-y-1/2 -translate-x-full;
}
.re-table__cell__add-column-button {
    @apply w-5 h-5 leading-0 flex justify-center items-center
           bg-transparent hover:bg-primary-300
           rounded-full hover:rounded
           absolute bottom-full transform -translate-x-1/2 -translate-y-full;
}
.re-table__cell__add-column-button.last {
    @apply right-0 translate-x-1/2 -translate-y-full;
}
.re-table__cell_add-button__placeholder {
    @apply block group-hover:hidden bg-primary-100 w-2 h-2 rounded-full;
}
.re-table__cell_add-button__hidden {
    @apply hidden text-sm text-main group-hover:inline;
}
.re-table__cell_remove-column-button {
    @apply w-5 h-5 leading-none bg-secondary hover:bg-error-300 rounded
           absolute bottom-full left-1/2 transform -translate-x-1/2 -translate-y-full
}
.re-table__cell_remove-row-button {
    @apply w-5 h-5 leading-none bg-secondary hover:bg-error-300 rounded
           absolute right-full top-1/2 transform -translate-y-1/2 -translate-x-full
}

.re-table__cell__row-selection-button {
    @apply block absolute right-full leading-none hover:bg-primary-300
    ring-1 mr-1 bg-primary-100 ring-primary w-3 h-full;
}
.re-table__row:first-of-type .re-table__cell__row-selection-button {
    @apply rounded-tl;
}
.re-table__row:last-of-type .re-table__cell__row-selection-button {
    @apply rounded-bl;
}
.re-table__cell__row-selection-button.selected-for-remove {
    @apply bg-error-300 ring-error;
}

.re-table__cell__column-selection-button {
    @apply block bottom-full leading-none hover:bg-primary-300 ring-1
                 bg-primary-100 ring-primary w-full h-3 absolute mb-1;
}
.re-table__cell:first-of-type .re-table__cell__column-selection-button {
    @apply rounded-tl;
}
.re-table__cell:last-of-type .re-table__cell__column-selection-button {
    @apply rounded-tr;
}
.re-table__cell__column-selection-button.selected-for-remove {
    @apply bg-error-300 ring-error;
}
