@import "highlight.css";

.re-inline-code {
    @apply bg-secondary/50 p-0.5 text-title rounded border border-dark;
    font-size: 87%;
}

.re-code-snippet {
    @apply my-4 border border-dark rounded-md bg-secondary/50 overflow-x-scroll;
    @apply text-sm;
}

.re-code-snippet__line {
    @apply px-2 first-of-type:pt-2 last-of-type:pb-2 block;
}
