.re-toolbar {
   @apply bg-secondary p-2 flex items-center gap-1 border-b border-divider sticky z-[100] overflow-x-auto;
}
.re-toolbar::-webkit-scrollbar {
   @apply h-2;
}
.re-toolbar::-webkit-scrollbar-track {
   @apply bg-info-100;
}
.re-toolbar::-webkit-scrollbar-thumb {
   @apply bg-info;
}

.re-toolbar.top-placed {
   @apply top-0;
}

.re-toolbar.bottom-placed {
   @apply bottom-0;
}

.re-toolbar__button {
   @apply py-1 px-2 rounded hover:bg-hover;
}
.re-toolbar__button.active {
   @apply bg-info-200 hover:bg-info-200/80;
}
.re-toolbar__button.disabled {
   @apply text-main/40 cursor-not-allowed;
}

.re-toolbar__toolbar-divider {
   @apply border-r border-divider mx-2 h-5;
}

.re-toolbar__tooltip {
   @apply bg-secondary text-label text-sm py-1 px-2 border border-neutral rounded;
}
