.dark {
  /* Common palette */
  --primary-color-100: 246 251 237;
  --primary-color-200: 236 248 219;
  --primary-color-300: 216 236 194;
  --primary-color-400: 191 217 169;
  --primary-color-500: 159 192 136;
  --primary-color-600: 122 165 99;
  --primary-color-700: 89 138 68;
  --primary-color-800: 59 111 43;
  --primary-color-900: 37 92 26;
  --primary-color-contrast-100: 32 15 33;
  --primary-color-contrast-200: 32 15 33;
  --primary-color-contrast-300: 32 15 33;
  --primary-color-contrast-400: 32 15 33;
  --primary-color-contrast-500: 32 15 33;
  --primary-color-contrast-600: 255 248 240;
  --primary-color-contrast-700: 255 248 240;
  --primary-color-contrast-800: 255 248 240;
  --primary-color-contrast-900: 255 248 240;

  --success-color-100: 220 249 208;
  --success-color-200: 179 244 163;
  --success-color-300: 124 222 111;
  --success-color-400: 74 190 71;
  --success-color-500: 25 147 33;
  --success-color-600: 18 126 35;
  --success-color-700: 12 105 35;
  --success-color-800: 7 85 33;
  --success-color-900: 4 70 32;
  --success-color-contrast-100: 32 15 33;
  --success-color-contrast-200: 32 15 33;
  --success-color-contrast-300: 32 15 33;
  --success-color-contrast-400: 32 15 33;
  --success-color-contrast-500: 255 248 240;
  --success-color-contrast-600: 255 248 240;
  --success-color-contrast-700: 255 248 240;
  --success-color-contrast-800: 255 248 240;
  --success-color-contrast-900: 255 248 240;

  --info-color-100: 199 248 236;
  --info-color-200: 146 242 227;
  --info-color-300: 88 218 207;
  --info-color-400: 46 180 181;
  --info-color-500: 1 121 132;
  --info-color-600: 0 94 113;
  --info-color-700: 0 71 95;
  --info-color-800: 0 51 76;
  --info-color-900: 0 37 63;
  --info-color-contrast-100: 32 15 33;
  --info-color-contrast-200: 32 15 33;
  --info-color-contrast-300: 32 15 33;
  --info-color-contrast-400: 255 248 240;
  --info-color-contrast-500: 255 248 240;
  --info-color-contrast-600: 255 248 240;
  --info-color-contrast-700: 255 248 240;
  --info-color-contrast-800: 255 248 240;
  --info-color-contrast-900: 255 248 240;

  --warning-color-100: 251 237 201;
  --warning-color-200: 247 216 150;
  --warning-color-300: 231 182 95;
  --warning-color-400: 208 146 54;
  --warning-color-500: 178 99 3;
  --warning-color-600: 153 78 2;
  --warning-color-700: 128 59 1;
  --warning-color-800: 103 43 0;
  --warning-color-900: 85 31 0;
  --warning-color-contrast-100: 32 15 33;
  --warning-color-contrast-200: 32 15 33;
  --warning-color-contrast-300: 32 15 33;
  --warning-color-contrast-400: 255 248 240;
  --warning-color-contrast-500: 255 248 240;
  --warning-color-contrast-600: 255 248 240;
  --warning-color-contrast-700: 255 248 240;
  --warning-color-contrast-800: 255 248 240;
  --warning-color-contrast-900: 255 248 240;

  --error-color-100: 250 223 210;
  --error-color-200: 245 186 166;
  --error-color-300: 225 135 117;
  --error-color-400: 195 88 78;
  --error-color-500: 155 31 31;
  --error-color-600: 133 22 32;
  --error-color-700: 111 15 32;
  --error-color-800: 89 9 30;
  --error-color-900: 74 5 29;
  --error-color-contrast-100: 32 15 33;
  --error-color-contrast-200: 32 15 33;
  --error-color-contrast-300: 255 248 240;
  --error-color-contrast-400: 255 248 240;
  --error-color-contrast-500: 255 248 240;
  --error-color-contrast-600: 255 248 240;
  --error-color-contrast-700: 255 248 240;
  --error-color-contrast-800: 255 248 240;
  --error-color-contrast-900: 255 248 240;


  /* Text colors */
  --text-color-title: 236 233 184;
  --text-color-subtitle: 241 240 211;
  --text-color-main: 255 248 240;
  --text-color-label: 50 212 172;

  /* Background colors */
  --background-color-main: 32 15 33;
  --background-color-secondary: 43 20 44;
  --background-color-hover: 72 44 73;
  --background-color-active: 60 25 61;

  /* Border colors */
  --border-color-divider: 145 158 171;
  --border-color-neutral: 107 114 128;
  --border-color-dark: 229 231 235;
}
