@import "../RichEditor/components/Toolbar/styles.css";
@import "../RichEditor/components/Placeholder/styles.css";
@import "../RichEditor/components/FloatingMenu/styles.css";
@import "../RichEditor/components/SelectionFloatingMenu/styles.css";
@import "../RichEditor/components/Icon/styles.css";
@import "../RichEditor/components/Select/styles.css";

@import "../RichEditor/inlineMenuExtension/styles.css";

@import "../RichEditor/plugins/elements/accordionPlugin/elements/styles.css";
@import "../RichEditor/plugins/elements/admonitionPlugin/elements/styles.css";
@import "../RichEditor/plugins/elements/alignPlugin/elements/styles.css";
@import "../RichEditor/plugins/elements/anchorPlugin/styles.css";
@import "../RichEditor/plugins/elements/blockquotePlugin/styles.css";
@import "../RichEditor/plugins/elements/carouselPlugin/elements/styles.css";
@import "../RichEditor/plugins/elements/codePlugin/styles.css";
@import "../RichEditor/plugins/elements/dividerPlugin/styles.css";
@import "../RichEditor/plugins/elements/formattingPlugin/styles.css";
@import "../RichEditor/plugins/elements/imagesPlugin/elements/styles.css";
@import "../RichEditor/plugins/elements/linksPlugin/elements/styles.css";
@import "../RichEditor/plugins/elements/listsPlugin/styles.css";
@import "../RichEditor/plugins/elements/tooltipPlugin/elements/styles.css";
@import "../RichEditor/plugins/elements/tablePlugin/TableElement/styles.css";
@import "../RichEditor/plugins/elements/textStylePlugin/styles.css";

.re-editable-area {
    @apply bg-main flex gap-3 flex-wrap lg:flex-nowrap;
}

.re-editable {
    @apply order-2 lg:order-1 w-full;
}

.re-table-of-contents {
    @apply w-full border-neutral order-1 self-start ;
    @apply lg:w-80 lg:border-l lg:pl-2 lg:flex-shrink-0 lg:order-2 lg:sticky lg:top-16;
}

.re-table-of-contents__item{
    @apply text-info-700 hover:text-info-900 hover:underline mb-2;
}

.re-paragraph {
    position: relative;
    @apply my-3;
}

.re-editable-area .relative {
    position: relative;
}
.re-editable-area .text-left {
    text-align: left;
}
.re-editable-area .text-center {
    text-align: center;
}
.re-editable-area .text-right {
    text-align: right;
}
.re-editable-area .text-justify {
    text-align: justify;
}
