:root {
  /* Common palette */
  --primary-color-100: 173 200 255;
  --primary-color-200: 173 200 255;
  --primary-color-300: 132 169 255;
  --primary-color-400: 102 144 255;
  --primary-color-500: 51 102 255;
  --primary-color-600: 37 78 219;
  --primary-color-700: 25 57 183;
  --primary-color-800: 16 38 147;
  --primary-color-900: 9 26 122;
  --primary-color-contrast-100: 17 24 39;
  --primary-color-contrast-200: 17 24 39;
  --primary-color-contrast-300: 242 255 251;
  --primary-color-contrast-400: 242 255 251;
  --primary-color-contrast-500: 242 255 251;
  --primary-color-contrast-600: 242 255 251;
  --primary-color-contrast-700: 242 255 251;
  --primary-color-contrast-800: 242 255 251;
  --primary-color-contrast-900: 242 255 251;

  --success-color-100: 240 252 211;
  --success-color-200: 220 250 168;
  --success-color-300: 193 242 122;
  --success-color-400: 164 230 88;
  --success-color-500: 123 214 38;
  --success-color-600: 95 184 27;
  --success-color-700: 70 154 19;
  --success-color-800: 48 124 12;
  --success-color-900: 33 102 7;
  --success-color-contrast-100: 17 24 39;
  --success-color-contrast-200: 17 24 39;
  --success-color-contrast-300: 17 24 39;
  --success-color-contrast-400: 17 24 39;
  --success-color-contrast-500: 17 24 39;
  --success-color-contrast-600: 242 255 251;
  --success-color-contrast-700: 242 255 251;
  --success-color-contrast-800: 242 255 251;
  --success-color-contrast-900: 242 255 251;

  --info-color-100: 214 247 254;
  --info-color-200: 174 234 254;
  --info-color-300: 133 217 254;
  --info-color-400: 103 199 253;
  --info-color-500: 53 169 252;
  --info-color-600: 38 132 216;
  --info-color-700: 26 99 181;
  --info-color-800: 16 70 146;
  --info-color-900: 10 49 120;
  --info-color-contrast-100: 17 24 39;
  --info-color-contrast-200: 17 24 39;
  --info-color-contrast-300: 17 24 39;
  --info-color-contrast-400: 17 24 39;
  --info-color-contrast-500: 242 255 251;
  --info-color-contrast-600: 242 255 251;
  --info-color-contrast-700: 242 255 251;
  --info-color-contrast-800: 242 255 251;
  --info-color-contrast-900: 242 255 251;

  --warning-color-100: 255 248 207;
  --warning-color-200: 255 240 159;
  --warning-color-300: 255 230 111;
  --warning-color-400: 255 220 75;
  --warning-color-500: 255 203 15;
  --warning-color-600: 219 169 10;
  --warning-color-700: 183 137 7;
  --warning-color-800: 147 107 4;
  --warning-color-900: 122 85 2;
  --warning-color-contrast-100: 17 24 39;
  --warning-color-contrast-200: 17 24 39;
  --warning-color-contrast-300: 17 24 39;
  --warning-color-contrast-400: 17 24 39;
  --warning-color-contrast-500: 17 24 39;
  --warning-color-contrast-600: 17 24 39;
  --warning-color-contrast-700: 242 255 251;
  --warning-color-contrast-800: 242 255 251;
  --warning-color-contrast-900: 242 255 251;

  --error-color-100: 255 228 213;
  --error-color-200: 255 195 171;
  --error-color-300: 255 154 129;
  --error-color-400: 255 116 97;
  --error-color-500: 255 52 45;
  --error-color-600: 219 32 42;
  --error-color-700: 183 22 44;
  --error-color-800: 147 14 43;
  --error-color-900: 122 8 43;
  --error-color-contrast-100: 17 24 39;
  --error-color-contrast-200: 17 24 39;
  --error-color-contrast-300: 17 24 39;
  --error-color-contrast-400: 242 255 251;
  --error-color-contrast-500: 242 255 251;
  --error-color-contrast-600: 242 255 251;
  --error-color-contrast-700: 242 255 251;
  --error-color-contrast-800: 242 255 251;
  --error-color-contrast-900: 242 255 251;


  /* Text colors */
  --text-color-title: 33 43 54;
  --text-color-subtitle: 69 79 91;
  --text-color-main: 22 28 36;
  --text-color-label: 69 79 91;

  /* Background colors */
  --background-color-main: 255 255 255;
  --background-color-secondary: 248 249 251;
  --background-color-hover: 243 244 246;
  --background-color-active: 212 247 255;

  /* Border colors */
  --border-color-dark: 107 114 128;
  --border-color-divider: 209 213 219;
  --border-color-neutral: 229 231 235;
}
