.re-formatted-text_bold {
    @apply font-bold;
}

.re-formatted-text_italic {
    @apply italic;
}

.re-formatted-text_underline {
    @apply underline;
}

.re-formatted-text_line-through {
    @apply line-through;
}

.re-formatted-text_subscript {
    @apply align-sub;
}

.re-formatted-text_superscript {
    @apply align-super;
}
