.re-list {
    @apply my-4 pl-8;
}
.re-list.numbered {
    @apply list-decimal;
}
.re-list.bulleted {
    @apply list-disc;
}
.re-list.todo {
    @apply flex flex-col gap-2 list-none pl-3;
}
.re-list.todo li { list-style: none !important; }

ol.re-list { counter-reset: itemCounter; }
ol.re-list li { list-style: none; }
ol.re-list li:not(.re-list__item-with-nested-list)::marker {
    content: counters(itemCounter, ".") ". ";
}
ol.re-list li:not(.re-list__item-with-nested-list) {
    counter-increment: itemCounter;
}

ul.re-list li.re-list__item-with-nested-list { list-style: none !important; }
/* 2 level */
ul.re-list li > ul.re-list > li {
    list-style-type: circle;
}
/* 3 level */
ul.re-list li > ul.re-list > li > ul.re-list > li {
    list-style-type: square;
}

li.re-list__todo-item {
    @apply text-base relative pl-7;
    line-height: 1.2rem;
}
li.re-list__todo-item.re-list__item-with-nested-list {
    @apply block;
}
li.re-list__todo-item .re-list__todo-item__checkbox {
    @apply inline-flex bg-main rounded border border-neutral text-xs w-5 h-5 absolute left-0 top-0;
    @apply justify-center items-center text-primary-contrast flex-shrink-0 hover:bg-hover;
}
li.re-list__todo-item .re-list__todo-item__checkbox.checked {
    @apply bg-primary hover:bg-primary;
}
