/* MAIN STYLE */
.re-image {
    @apply flex w-auto flex-wrap my-4 px-6 relative z-[1];
}

/* ALIGN STYLES */
.re-image.re-image__align-left {
    @apply justify-start pl-0;
}
.re-image.re-image__align-center {
    @apply justify-center left-1/2 transform -translate-x-1/2;
}
.re-image.re-image__align-right {
    @apply justify-end pr-0 left-full -translate-x-full;
}
.re-image.re-image__float-left {
    @apply float-left pl-0 mt-0;
}
.re-image.re-image__float-right {
    @apply float-right pr-0 mt-0;
}

/* IMAGE STYLES */
.re-image img {
    @apply max-w-full h-auto;
}
.re-image img.selected {
    @apply ring ring-offset-2;
}
.re-image div.loading-placeholder {
    @apply animate-pulse-fast w-full aspect-16/9 flex justify-center items-center border border-neutral rounded-md;
}
.re-image div.loading-error {
    @apply w-full aspect-16/9 flex justify-center items-center border border-neutral rounded-md text-label/80 bg-main;
}

/* IMAGE CAPTION STYLES */
.re-image figcaption {
    @apply w-full italic text-label text-sm mt-2 text-center;
}

/* IMAGE RESIZE HANDLERS STYLES */
.re-image__resize-handler {
    @apply absolute top-0 left-0 w-full h-full flex justify-between items-center px-2;
}
.re-image__resize-handler div {
    @apply w-1 h-32 max-h-[80%] bg-primary-300 opacity-80 hover:bg-primary hover:opacity-100 rounded-lg cursor-col-resize;
}

.re-image.re-image__align-left .re-image__resize-handler {
    @apply pl-0;
}
.re-image.re-image__align-right .re-image__resize-handler {
    @apply pr-0;
}

.re-image.re-image__align-left .re-image__resize-handler .re-image__resize-handler__left,
.re-image.re-image__align-right .re-image__resize-handler .re-image__resize-handler__right,
.re-image.re-image__float-left .re-image__resize-handler .re-image__resize-handler__left,
.re-image.re-image__float-right .re-image__resize-handler .re-image__resize-handler__right {
    opacity: 0;
    z-index: -1;
}
