/*todo: improve colors for dark theme*/
.re-admonition {
    @apply border-l-2 border-primary-300 m-4 pl-4 py-2 text-label relative;
}

.re-admonition.primary {
    @apply border-primary bg-primary-100/30;
}
.re-admonition.tip {
    @apply border-info bg-info-100/30;
}
.re-admonition.warning {
    @apply border-warning bg-warning-100/30;
}
.re-admonition.success {
    @apply border-success bg-success-100/30;
}
.re-admonition.error {
    @apply border-error bg-error-100/30;
}

.re-admonition__content {
    @apply absolute top-0 left-0 pointer-events-none select-none opacity-50;
}

.re-admonition__title-container {
    @apply text-xl font-bold mb-3 flex items-center;
}
.re-admonition__title-icon {
    @apply mr-4;
}
/*todo: duplicated declaration of .re-admonition__title-container*/
.re-admonition__title-container {
    @apply relative inline flex-grow;
}
.re-admonition__title-text {
    @apply absolute top-0 left-0 pointer-events-none select-none opacity-50;
}
.re-admonition.primary .re-admonition__title-container {
    @apply text-primary;
}
.re-admonition.tip .re-admonition__title-container {
    @apply text-info;
}
.re-admonition.warning .re-admonition__title-container {
    @apply text-warning;
}
.re-admonition.success .re-admonition__title-container {
    @apply text-success;
}
.re-admonition.error .re-admonition__title-container {
    @apply text-error;
}
